@keyframes wobble-hor-top {

   0%,
   100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
   }

   15% {
      -webkit-transform: translateX(-30px) rotate(6deg);
      transform: translateX(-30px) rotate(6deg);
   }

   30% {
      -webkit-transform: translateX(15px) rotate(-6deg);
      transform: translateX(15px) rotate(-6deg);
   }

   45% {
      -webkit-transform: translateX(-15px) rotate(3.6deg);
      transform: translateX(-15px) rotate(3.6deg);
   }

   60% {
      -webkit-transform: translateX(9px) rotate(-2.4deg);
      transform: translateX(9px) rotate(-2.4deg);
   }

   75% {
      -webkit-transform: translateX(-6px) rotate(1.2deg);
      transform: translateX(-6px) rotate(1.2deg);
   }
}

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Lato', sans-serif;
   font-size: 0px;
}

a {
   text-decoration: none;
}

.center {
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px);
}

.header-link {
   background: #222222;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top: 18px;
   padding-bottom: 19px;
}

.left-nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.serch:hover path,
.burger:hover path,
.user:hover path,
.shop:hover path {
   fill: #F16D7F;
   transition: all 0.3s ease;
}

.right-nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 33px;
}

.header {
   background: #F1E4E6;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 64px;
   position: relative;
}

.photo-header {
   margin-left: -29%;
}


.box-title {
   border-left: 12px solid #F16D7F;
   padding-left: 16px;
}

.selected-text {
   color: #F16D7F;
}

.title {
   font-style: normal;
   font-weight: 900;
   font-size: 48px;
   line-height: 58px;
   color: #222222;
}

.text-title {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   color: #222222;
}

.offer {
   margin-top: 71px;
   margin-bottom: 96px;
   display: grid;
   grid-template-columns: repeat(3, 360px);
   justify-content: center;
   gap: 30px;
   translate: transform 1s;
}

.offer-img {
   width: 100%;
   filter: brightness(40%);
}

.offer-item {
   position: relative;
   transition: all 0.8s ease;
}

.offer-item:hover {
   transform: translateY(-50px);
}

.offer-item-big:hover {
   transform: translateY(0px);
}

.offer-item-big {
   grid-column: span 3;
}

.text-offer {
   position: absolute;
   top: 40%;
   width: 100%;
   z-index: 1;
}

.text-title-offer {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color: #FFFFFF;
}

.title-offer {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   color: #F16D7F;
}

.products {
   text-align: center;
}

.products-wrap {
   text-align: left;
   display: grid;
   grid-template-columns: repeat(3, 360px);
   justify-content: center;
   gap: 30px;
}

.subtitle-products {
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   color: #222222;
   margin-bottom: 6px;
}

.text-products {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #9F9F9F;
   margin-bottom: 48px;
}

.add-cart-item {
   position: relative;
}

.add-cart {
   top: 40%;
   left: 30%;
   padding: 10px 15px;
   gap: 11px;
   border: 1px solid #FFFFFF;
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 1;
}

.text-add-cart {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
}

.product-img {
   width: 100%;
   transition: all 0.5s ease;
}

.product-img:hover {
   filter: brightness(40%);
}

.add-cart-item:hover .add-cart {
   position: absolute;
   display: flex;
}

.products-item {
   background: #F8F8F8;
}

.produt-info {
   padding: 0 16px;
   margin-top: 25px;
   margin-bottom: 24px;
}

.product-title {
   margin-bottom: 16px;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}

.product-text {
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   color: #5D5D5D;
   margin-bottom: 16px;
}

.prise {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #F16D7F;
}

.button {
   margin-top: 48px;
   padding: 15px 39px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #F26376;
   border: 1px solid #F26376;
   background: none;
   transition: all 0.2s ease;
}

.button:hover {
   color: #FFFFFF;
   background: #F26376;
}

.feature {
   margin-top: 95px;
   background: #222224;
   padding-top: 104px;
   padding-bottom: 104px;
   display: grid;
   grid-template-columns: repeat(3, 360px);
   gap: 30px;
   text-align: center;
   justify-content: center;
}

.item {
   padding-left: 13px;
   padding-right: 13px;
   animation: wobble-hor-top 3s both;
   animation-iteration-count: infinite;
}

.item-title {
   margin-top: 22px;
   font-style: normal;
   font-weight: 400;
   font-size: 19.96px;
   line-height: 24px;
   color: #FBFBFB;
}

.item-text {
   margin-top: 14px;
   font-style: normal;
   font-weight: 300;
   font-size: 13.972px;
   line-height: 17px;
   text-align: center;
   color: #FBFBFB;
}

.subscribe {
   position: relative;
   padding-top: 97px;
   padding-bottom: 126px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-between;
}

.subscribe {
   background-image: url(img/photo-subscribe.jpg);
   background-position: bottom;
   background-size: cover;
}

.fon-filter {
   background: rgba(244, 244, 244, 0.7);
   position: absolute;
   left: 0%;
   right: 0%;
   top: 0%;
   bottom: 0%;
   z-index: 1;
}

.sey-item {
   width: 360px;
   text-align: center;
   z-index: 2;
}

.sey-text {
   margin-top: 30px;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   color: #222224;
}

.form-blok {
   z-index: 2;
}

.sey-italic {
   font-style: italic;
}

.form-title {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 167.2%;
   text-align: center;
   color: #222224;
}

.form-text {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 167.2%;
   text-align: center;
   color: #222224;
}


.input-email {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 32px;
}

.email {
   border-top-left-radius: 22px;
   border-bottom-left-radius: 22px;
   height: 49px;
   width: 256px;
   background: #E1E1E1;
   border: none;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   color: #222224;
   padding-left: 22px;
   opacity: 0.67;
}

.button-form {
   border: none;
   width: 100px;
   height: 49px;
   border-top-right-radius: 22px;
   border-bottom-right-radius: 22px;
   background: #F16D7F;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   color: #FFFFFF;
   transition: all 0.2s ease;
}

.button-form:hover {
   background: #FFFFFF;
   color: #F16D7F;
}

.copyright {
   padding-top: 30px;
   padding-bottom: 30px;
   background: #222224;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.copy {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #FBFBFB;
}

.icon {
   display: flex;
   gap: 8px;
}

.img-svg:hover .fon-svg {
   fill: #F16D7F;
   transition: all 0.2s ease;
}

.img-svg:hover path {
   fill: #FFFFFF;
}

@media (max-width: 1200px) {
   .feature {
      gap: 0;
      grid-template-columns: repeat(3, 330px);
   }

   .header {
      gap: 0;
   }

   .photo-header {
      margin-left: -22%;
   }

   .offer {
      grid-template-columns: repeat(3, 310px);
   }

   .products-wrap {
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
   }

   .subscribe {
      justify-content: space-around;
   }

   .copyright {
      justify-content: space-around;
   }
}

@media (max-width: 1024px) {
   .center {
      padding-left: calc(50% - 368px);
      padding-right: calc(50% - 368px);
   }

   .header {
      gap: 39px;
   }

   .photo-header {
      width: 368px;
      margin-left: -8%;
   }

   .title {
      font-size: 44px;
      line-height: 53px;

   }

   .text-title {
      font-size: 24px;
      line-height: 29px;
   }

   .offer {
      grid-template-columns: repeat(3, 232px);
      gap: 20px;
   }

   .products-wrap {
      grid-template-columns: repeat(2, 360px);
      gap: 16px;
   }

   .feature {
      grid-template-columns: repeat(1, 360px);
      gap: 48px;
      padding-top: 48px;
      padding-bottom: 64px;
   }

   .subscribe {
      background-position: 20%;
      padding-top: 64px;
      padding-bottom: 140px;
      justify-content: center;
      gap: 48px;
   }
}

@media (max-width: 768px) {
   .center {
      padding-left: calc(50% - 160px);
      padding-right: calc(50% - 160px);
   }

   .left-nav {
      padding-left: 8px;
   }

   .right-nav {
      padding-right: 8px;
      gap: 0px;
   }

   .photo-header,
   .user,
   .shop {
      display: none;
   }

   .box-title {
      margin: 149px 28px;
      padding-left: 15px;
   }

   .title {
      font-size: 38px;
      line-height: 46px;

   }

   .text-title {
      font-size: 20px;
      line-height: 24px;
   }

   .offer {
      margin-top: 64px;
      margin-bottom: 64px;
      grid-template-columns: repeat(1, 319px);
      gap: 32px;
   }

   .offer-img {
      object-fit: cover;
      height: 100%;
   }

   .offer-item-big {
      height: 111px;
      grid-column: span 1;
   }

   .subtitle-products {
      margin-bottom: 3px;
   }

   .text-products {
      margin-bottom: 64px;
   }

   .products-wrap {
      grid-template-columns: repeat(1, 319px);

   }

   .produt-info {
      margin-bottom: 20px;
   }

   .products {
      margin-bottom: 85px;
   }

   .button {
      margin-top: 40px;
   }

   .email {
      width: 180px;
   }

   .feature {
      grid-template-columns: repeat(1, 319px);
      gap: 46px;
      padding-top: 48px;
      padding-bottom: 81px;
   }

   .subscribe {
      padding-bottom: 110px;
      justify-content: center;
      gap: 59px;
   }

   .copyright {
      padding-top: 43px;
      padding-bottom: 9px;
      flex-direction: column-reverse;
      gap: 40px;
   }
}